<section class="banner-bg bg-cover">
  <div class="container h-100">
    <div class="h-100 d-flex flex-column offset-md-1 justify-content-end justify-content-md-center">
      <h1 class="h2 text-white mb-2">台北當代藝術展</h1>
    <h3 class="text-white">01 JUN - 31 OCT</h3>
    <div class="d-flex mt-3 mb-10 mb-md-0">
      <a href="cart.html" class="btn btn-secondary btn-buy me-3 me-sm-2 text-white">購買票券</a>
      <a href="info.html" class="btn btn-detail btn-outline-white">詳細資訊</a>
    </div>
    </div>
  </div>
</section>