
.fs-14{
  font-size: $font-size-base * .875; // 14
}

.img-cover{
  object-fit: cover;
  object-position: center center;
}

.bg-cover{
  background-position: center;
  background-size: cover;
}

.link-primary-hover{
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
  &:hover {
    border-bottom: 2px solid $primary;
  }
}
.link-secondary-hover {
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
    &:hover {
      border-bottom: 2px solid $secondary;
    }
  
  
}
.font-medium{
  font-weight: 500;
}