.icon-check-circle {
  font-size: $font-size-base * 2.75;
}
.completion{
  padding-top: 102px;
  padding-bottom: 123px;
  @include media-breakpoint-down(sm) { 
    padding-top: 42px;
    padding-bottom: 40px;
   }
}
.mt-md-96{
  @include media-breakpoint-up(md) { 
    margin-top: 96px;
   }
}