.info{
  padding-top: 80px;
  padding-bottom: 40px;
  @include media-breakpoint-down(sm) { 
    padding-top: 44px;
   }
  &-img{
    width: 100%;
    height: 256px;
  }
}
.border-lg-start{
  border-left: 1px solid $dark;
  @include media-breakpoint-down(md) {
    border: none;
  }
}
.info-banner-bg{
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/exhibition-week6/max-van-den-oetelaar-IMYe9uYN27E-unsplash.jpg?raw=true);
  height: 400px;
}

.details-img{
  width: 100%;
  height: 559px;
}
.info-text-color{
  color: $dark;
  @include media-breakpoint-down(sm) {
    color: $black;
  }
}